.mainBanner{
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    .item-texto{
        width: 42%;
    }
    .item-img{
        padding-left: 140px;
        img{
            max-width: 800px;
            margin-top: 40px;
        }
    }
}

.main{
    overflow: hidden;
}

.moeda{
    background-size: contain;
    background-position: center, center;
    background-repeat: no-repeat;
    height: 140px;
    width: 140px;
}

.redeSociais{
    left: 20px;
    bottom: 20px;
}

@media screen and (max-width: 538px){
    h1.title{
        font-size: 1.8rem;
    }
}
