.footer{
    padding: 24px 0;
    padding-top: 35px;
    background-image: url('../../img/footer-left.png'), url('../../img/footer-right.png');
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
    overflow: visible;
    &.footer-default{
        background-color: #f2f2f2;
    }

    nav{
        display: inline-block;
        float: left;
    }

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: inherit;
                padding: $padding-base-vertical;
                font-size: $font-size-small;
                text-transform: uppercase;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .copyright{
        font-size: $font-size-small;
    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }
}

@media screen and (max-width: 778px){
    .footer{
        background-position: bottom left, bottom right;
        background-size: 100px, 100px;
    }
}